<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<div class="login-form">
    <h1>Iniciar Sesión</h1>
    <form action="recibe-usuario" method="post" th:object="${DatosRegistro}">
        <input type="text" name="username" placeholder="Nombre de Usuario" required>
        <button type="submit">Siguiente</button>
    </form>
</div>
</body>
</html>